{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}


{% block sidebar %}

    <div class="row">
        <div class="span3">
            <div class="well">
                <ul class="nav nav-list text-left">
                    <h3>Таблицы</h3>
                    {% for table in tables %}
                        <li>
                            <label class="tree-toggle nav-header"><a href="{{ path('show_table', { table_name: table.getName() }) }}" class="">{{ table.getName() }}</a></label>
                        </li>
                    {% else %}
                        <li class="well">{{ 'tables.no_table_found'|trans }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="text-center">Таблицы</th>
                <th class="text-center">Действия</th>
            </tr>
        </thead>

        <tbody>

            {% for table in tables %}
            <tr>
                <td>
                    <a href="{{ path('show_table', { table_name: table.getName() }) }}" class="">{{ table.getName() }}</a>
                </td>

                <td>
                    <a href="{{ path('delete_table', { table_name: table.getName() }) }}" class="confirm-delete btn btn-sm btn-danger glyphicon glyphicon-trash" role="button">Delete</a>
                </td>
            </tr>
            {% endfor %}

        </tbody>

    </table>

    <div class="form_row">
        {{ form_start(create_table_form, {'attr': {'class': 'form-inline'},'action': path('create_table'), 'method': 'POST' }) }}
            <fieldset>
                <legend>Создать новую таблицу</legend>
                {{ form_widget(create_table_form) }}
            </fieldset>
        {{ form_end(create_table_form) }}
    </div>
{% endblock %}
